@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    font-family: 'Fredoka One', cursive;
}

header{
    width: 100%;
    height: 160px;
    background-color:#383444 ;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 60px 3px #000;
    position: relative;
}
header span{
    cursor:pointer;
    
}
header span:hover{
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    transition: all .5s ease;
    border-bottom:2px solid #fff;
    border-top:2px solid #fff;
    padding:10px;
}
.bar{
    font-size:35px;
    margin-left:70px;
    color:white;
    
}
.bar::after:{
    content:"";
    
}
.bar:hover::after{
    border-bottom:2px solid #fff;
}

section{
    height: 900px;
}

footer{
    width: 100%;
    height:80px;
    background-color:#383444 ;
}

/* media @ max-width */
@media  screen and (Max-width:700px) {
    header{
        display: inline-block;
    }
}