
*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

.main-box-flip{
    background-color: transparent;
    width: 400px;
    height:650px;
    perspective: 800px;
    margin:0 auto;
    margin-top: 150px;
}

.son-box-flip{
    position:relative;
    width: 100%;
    height:100%;
    /* text-align:center; */
    transition: transform .5s ease;
    transform-style: preserve-3d;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.main-box-flip:hover .son-box-flip{
    transform: rotateY(180deg);
}
.frist-flip, .back-flip{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.frist-flip{
    background-color: gray;
    color: black;
}

.back-flip{
    background-color: inherit;
    color:white;
    transform: rotateY(180deg);
    background-color: #313442;
    
}
.back-flip p{
    padding: 50px;
    
}
.back-flip h1{
    text-align: center;
    margin-top:90px;
    
}
iframe{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}