*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Courier New', Courier, monospace;
}
.main-border{
    border: 2px solid #000;
    max-width: 650px;
    height: 650px;
    margin:0 auto;
    padding:60px;
}

body{
    background-color: #383444;
}



/*-------- Responsive------ */




/* ------------------------- */
#cal{
    font-size: 70px;
    text-align: center;
    margin-top:60px;
    margin-bottom:60px;
    color:white;
    filter: drop-shadow(0 0 0.75rem crimson);

}


.main-box{
    position: relative;;
    max-width: 500px;
    height: 500px;
    border: none;
    margin:0 auto;
    padding:20px;
    border-radius:30px;
    box-shadow: 10px -5px 80px 12px rgb(153, 238, 219);
    background-color: azure;
    display: grid;
    grid-template-columns: repeat(4,1fr);

}

/* _--------------------------------------------_ */
.main-box button{
    border: 2px solid #000; 
    border-radius: 20px;
    width: 70px;
    height: 50px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 25px;
    margin-top:40px;
}
.four{
    margin-top: -30px;
}
.textalign{
    grid-column:span 4;
    margin:0 auto;
}
.text-box{
    margin-top:20px;
    padding-top:15px;
    max-width: 500px;
    border-radius: 10px;
    font-size:20px;
    padding:9px;
    text-align: right;
}

/*--------- Animetion hover  --------------*/

.main-box button{
    transition: transform .5s;
}
.main-box button:hover{
    cursor: pointer;
    background: rgb(163,158,245);
    background: linear-gradient(90deg, rgba(163,158,245,1) 0%, rgba(24,114,133,1) 90%);
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    border: none;
    color:#FFF;
}



#box{
    width: 360px;
    height: 50px;
    border: 3px solid #000;
    display: inline-table;
    margin: 0 auto;
    margin-top:10px;
   position: relative;
}
#getnumber1{
    position: absolute;
    bottom: 20%;
    right:3%;
    font-size: 20px;
}
#getmark{
    position: absolute;
    bottom: 20%;
    right:3%;
    font-size: 20px;
    display: none;
}
#getnumber2{
    position: absolute;
    bottom: 20%;
    right:3%;
    font-size: 20px;
    display: none;
}