*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}

.main-bar-slide{
    width: 900px;
    height: 500px;
    margin:0 auto;
    margin-top:200px;
    border-radius:60px;
    overflow: hidden;
    color:white;
    box-shadow: 10px 8px 20px 0px  #7f98ad;
}

.son-bar-slide{
    width: 100%;
    height:100%;
    background-color:#0a243b;
   
}
/* ------------------- */
.fade{
    animation-name:fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    form {opacity: .4;}
    to {opacity: 1;}
}

/* --------------- */
.control-nav-position{
    display: grid;
    grid-template-columns: auto auto;
}
.nav-left{
    width: 350px;
    height:500px;
    background-color:white ;
}
.nav-left img{
    height: 500px;
    padding: 10px;
    border-radius:107px 0 0 0;
}
.nav-right{
    padding:30px 20px 10px;
    font-size:20px;
}

/* -------------dot--------------- */
.dot{
    width: 100px;
    height:50px;
    margin:0 auto;
    margin-top:20px;
    
}
.dot1,.dot2,.dot3{
    display: inline-block;
    width: 15px;
    height:15px;
    background-color: #bbb;
    border-radius:50%;
    margin:0 6px;
    cursor: pointer;
}