*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
.main-container{
    width: 80%;
    height:10000px;
    border:2px solid #000;
    margin:20px;
    margin:0 auto;
    margin-top:30px;
    padding:20px;
    position: relative;
    overflow: scroll;
    
}
/* ------------container-one------------- */
.container-one{
    border:6px dotted green;
    width: 100%;
    height: 300px;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:20px;
}
.container-one .p1-line1{
    font-size:50px;
    font-family: 'Passion One', cursive;
}
.container-one .p1-line2{
    font-size:30px;
    color:rgb(14, 182, 14);
    
}
/* --------------------------------------- */

/* -----------container-two--------------- */

.container-two{
    border:6px dotted green;
    width: 100%;
    height: 500px;
    text-align:center;
    padding-top:50px;
    margin-bottom:20px;
    
}
.container-two .p2-line1{
    font-size:50px;
    font-family: 'Passion One', cursive;
}
.test-tab-index{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.son-tab-index{
    width: 600px;
    height:300px;
    background-color:lightblue;
    display: flex;
    flex-direction: column;
    padding:20px;
    margin-top:20px;
}

.container-two .test-tab-index .son-tab-index input{
    width: 200px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
}
.container-two .test-tab-index .son-tab-index p{
    font-size:25px;
    cursor:pointer;
}
/* -------------------------------------------- */

/* ------------container-three---------------- */
.container-three{
    border:6px dotted green;
    width: 100%;
    height: 500px;
    text-align:center;
    padding-top:50px;
    margin-bottom:20px;
    font-family: 'Passion One', cursive;
}
.p3-line1{
    font-size:50px;
}
.alertme{
    margin-top:120px;
    width: 200px;
    height: 140px;
    font-size:30px;
    color:#000;
    font-weight: bolder;
    border: none;
    box-shadow: 8px 3px 4px 5px rgb(56, 153, 185, 0.9);
    cursor: pointer;
    transition: transform .5s;
}
.alertme:hover{
    transform:scale(1.5);
    -ms-transform: scale(1.5)
}
/* ---------------------------------------------- */

/* ----------------container-four---------------- */
.container-four{
    border:6px dotted green;
    width: 100%;
    height: 500px;
    text-align:center;
    padding-top:50px;
    margin-bottom:20px;
    
}
.p4-line1{
    font-family: 'Passion One', cursive;
    font-size:50px;
}
.p4-line2{
    font-size: 30px;
    margin-top:20px;
    color:lightcoral;
    border: 2px solid pink;
}
.box-text1{
    width:500px;
    height:200px;
    border: 3px solid #000;
    margin:0 auto;
    margin-top:50px;
}
.box-text1{
    background-color: #000;
    padding:50px;
}
#datatext{
    font-size: 30px;
}
/* -------------------------------------- */

/* ---------------container-five------------- */
.container-five{
    border:6px dotted green;
    width: 100%;
    height: 500px;
    text-align:center;
    padding-top:50px;
    margin-bottom:20px;
    overflow: scroll;
}
.container-five h3{
    font-family: 'Passion One', cursive;
    font-size:50px;
}
.container-five p{
    font-size:40px;
    margin-top:20px;
}
.container-five button{
    margin-top:30px;
    font-size:30px;
}
.container-five #text-box-query{
    width: 800px;
    height:200px;
    border:2px solid #000;
    margin:0 auto;
    margin-top:60px;
}
#text-box-query{
    position: relative;
}
.text-box-query-son{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.container-five label{
    font-size: 30px;
    color:red;
}
.container-five label input{
    width: 200px;
    height:30px;
    text-align: center;
}
/* -------------------------------------------- */

/* ----------------container-six------------------ */
.container-six{
    border:6px dotted green;
    width: 100%;
    height: 500px;
    text-align:center;
    padding-top:50px;
    margin-bottom:20px;
}
.container-six h3{
    font-size:50px;
    font-family: 'Passion One', cursive;
}
#datetimedata{
    font-size:20px;
    color: #000;
}
.container-six label{
    font-size:30px;
}
.container-six label input{
    margin-top:30px;
    width: 300px;
    height: 25px;
}
.container-six button{
    font-size:25px;
    width:240px;
}
#numberforcorrect{
    font-size:30px;
    margin-top:20px;
    color:blueviolet;
}
#box-hidden{
    width: 100px;
    height:100px;
    background-color: aqua;
    margin:0 auto;
    display: none;
    cursor: pointer;
    
}
/* -------------------------------------------- */

/* ----------------container-seven-------------- */
.container-seven{
    border:6px dotted green;
    width: 100%;
    height: 500px;
    text-align:center;
    padding-top:50px;
    margin-bottom:20px;
}
.container-seven h3{
    font-size:50px;
    font-family: 'Passion One', cursive;
}
#datetime{
    font-size:25px;
    color :blueviolet;
}
/* ------------------------------------------------- */

/* ----------------------container-eight------------- */
.container-eight{
    border:6px dotted green;
    width: 80%;
    height: 500px;
    text-align:center;
    padding-top:50px;
    margin:0 auto;
    margin-bottom:20px;
    
}
.container-eight h3{
    font-size:50px;
    font-family: 'Passion One', cursive;
}
.container-eight p{
    font-size: 25px;
    margin-top:20px;
}
.container-eight span button{
    width: 120px;
    height:120px;
    border-radius: 50%;
    margin-top:30px;
    font-size:20px;
    cursor: pointer;
}
#lightmode{
    background-color: rgb(241, 255, 250);
    color: #000;
    
}
#darkmode{
    background-color: #000;
    color: #FFF;
    
}

#dark:hover{
    transition: transform .5s;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    border: none;
    font-weight: bolder;
    background-color: #000;
    color: #FFF;
}
#light:hover{
    transition: transform .5s;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    border: none;
    font-weight: bolder;
    background-color: #FFF;
    color: #000;
}

/* ---------------------------------------------------- */

/* ---------------------container-nine------------------- */
.container-nine{
    border:6px dotted green;
    width: 80%;
    height: 500px;
    text-align:center;
    padding-top:50px;
    margin:0 auto;
    margin-bottom:20px;
    position: relative;
}
.container-nine p{
    font-size:50px;
    font-family: 'Passion One', cursive;
}
.container-nine button{
    position: relative;
}
.button1,.button2{
    width: 220px;
    height:140px;
    margin:30px;
    border-radius:30px;
    transition: all .25s ease;
    font-size: 50px;
    
}
.button1{
    background-color: #000;
    color: #fff;
    position: relative;
    border-radius: 28px;
    transition: all .25s ease;
}
.button1:hover{
    transform: translate(-42px,-52px);
}
.button1:hover::before{
    transform: translate(25px,25px);
}
.button1:hover::after{
    transform: translate(12px,12px);
}
.button1::after,.button1::before{
    content: "";
    position: absolute;
    background-color: #000;
    opacity: 0.4;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all .25 ease;
}

.button2:hover::after{
    transform: translate(-5px,-5px);
}
.button2:hover::before{
    transform: translate(5px,5px);
}
.button2::after, .button2::before{
    content: "";
    border: 3px solid #000;
    position: absolute;
    border-radius: inherit;
    width: calc(100% - 1px);
    height: calc(100% - 1px); ;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all .25s ease;
}